@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input, button, select, textarea {
  outline: none !important;
}

button, a, select, [role="button"], label[for], input[type="checkbox"], input[type="radio"], input[type="submit"] {
  cursor: pointer;
}

